.user-page {
   margin: 40px 20px 0;
   width: 75vw;

   header {
      width: 100%;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      padding-left: 10%;
      column-gap: 5%;
      padding-bottom: 40px;
      border-bottom: 1px solid #ddd;

      h2 {
         margin-top: 23px;
         font-size: 20px;
         font-weight: 500;
      }
   }
   &__icon {
      margin-inline: 20px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
   }
   section {
      padding-top: 20px;
      display: grid;
      grid-template-columns: 32% 32% 32%;
      column-gap: 2%;
      row-gap: 2%;
      width: 100%;
   }
}

.no-posts {
   margin-top: 60px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;

   &__img {
      width: 62px;
      height: 62px;
      border-radius: 50%;
      border: 2px solid rgb(38, 38, 38);
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 40px;

      img {
         width: 24px;
      }
   }
   p{ 
      font-size: 30px;
      font-weight: 800;
   }
}
